.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 16px;
  background-color: #17408B;
  margin-bottom: 20px;
  border-bottom: 2px solid #000000;
}

.nav a {
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 6px;
  background-color: #17408B;
  transition: all 0.3s ease;
  font-weight: 500;
}

.nav a:hover {
  background-color: #C9082A;
}


@media (max-width: 600px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
  }

  .nav a {
    width: 100%;
    text-align: left;
  }

  .nav input {
    width: 100%;
    margin-top: 10px;
  }
}
