.nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 16px;
    background-color: #17408B;
    margin-bottom: 20px;
    border-bottom: 2px solid #000000;
  }
  
  .nav a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 6px;
    background-color: #17408B;
    transition: all 0.3s ease;
  }
  
  .nav a:hover {
    background-color: #C9082A;
  }
  